.homehead{
    display: flex;
    flex-direction: column;
}

.homehead1{
   display: flex;
   flex-direction: row;
   margin-left: 2%;
   margin-top: 1%;
   gap:0.3%;
}

.homehead2{

}
.child1{
  cursor: pointer;
  width: 13%;
  padding:1% 2% 1% 4%;
  border-radius: 7px;
  border: 2px solid #000;
}
.child2{
  cursor: pointer;
  padding:1% 2% 1% 2%;
  border-radius: 7px;
  border: 2px solid #000;

}
.child3{
  cursor: pointer;
  padding:1% 2% 1% 2%;
  border-radius: 7px;
  border: 2px solid #000;

}
.child4{
  cursor: pointer;
  padding:1% 2% 1% 2%;
  border-radius: 7px;
  border: 2px solid #000;

}

